@import url("https://fonts.googleapis.com/css?family=Lato:300");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #222;
  font-family: Lato, sans-serif !important;
  overflow: hidden;
}

.gradient-border {
  --border-width: 3px;

  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: flex;
  flex-direction: column;
  width: 99vw;
  height: 99vh;
  font-family: Lato, sans-serif;
  /* font-size: 2.5rem; */
  /* text-transform: uppercase; */
  color: white;
  background: #222;
  /* border-radius: var(--border-width); */

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 5s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

i {
  color: gray;
}
.fa-github:hover {
  color: whitesmoke;
}
.fa-linkedin:hover {
  color: #0a66c2;
}
.fa-envelope:hover {
  color: wheat;
}

@media (min-width: 500px) {
  .gradient-border {
    padding: 0 3rem 0 3rem;
  }
  .main {
    flex-direction: column;
  }
}

@media (max-width: 512px) {
  .right {
    display: none;
  }
  .main {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .header {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .main {
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }
  .title {
    font-size: 30px !important;
  }
  .left {
    margin-top: 5rem;
  }
  .s-title {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .box {
    font-size: 20px !important;
  }
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: "<percentage>";
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: true;
}

:root {
  --d: 2500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: rgba(168, 239, 255, 1);
  --c2: rgba(168, 239, 255, 0.1);
}

.wrapper {
  min-width: min(40rem, 100%);
}

.box {
  font-size: 2rem;
  border: 0.35rem solid;
  padding: 15px 20px 15px 20px;
  border-image: conic-gradient(
      from var(--angle),
      var(--c2),
      var(--c1) 0.1turn,
      var(--c1) 0.15turn,
      var(--c2) 0.25turn
    )
    30;
  animation: borderRotate var(--d) linear infinite forwards;
}

.box:nth-child(2) {
  border-image: radial-gradient(
      ellipse at var(--gradX) var(--gradY),
      var(--c1),
      var(--c1) 10%,
      var(--c2) 40%
    )
    30;
  animation: borderRadial var(--d) linear infinite forwards;
}

@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}

@keyframes borderRadial {
  20% {
    --gradX: 100%;
    --gradY: 50%;
  }
  40% {
    --gradX: 100%;
    --gradY: 100%;
  }
  60% {
    --gradX: 50%;
    --gradY: 100%;
  }
  80% {
    --gradX: 0%;
    --gradY: 50%;
  }
  100% {
    --gradX: 50%;
    --gradY: 0%;
  }
}

:root {
  --background: #005;
  --primary: #88d5bf;
  --secondary: #5d6bf8;
  --third: #e27fcb;
}

.shape {
  background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  height: 400px;
  transition: all 1s ease-in-out;
  width: 400px;
  z-index: 5;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(
      45deg,
      var(--primary) 0%,
      var(--secondary) 100%
    );
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(
      45deg,
      var(--primary) 0%,
      var(--secondary) 100%
    );
  }
}

.projects {
  position: relative;
  top: 6rem;
  left: 6rem;
  font-size: 1.2rem;
}
